<section class="features">
    <div class="row">
        <div class="small-3  columns text-center">
            <svg>
                <use xlink:href="assets/img/sprite.symbol.svg#guarante"></use>
            </svg>
            <h4 class="features-title">Our Price Guarantee</h4>
        </div>
        <div class="small-3 columns text-center">
            <svg>
                <use xlink:href="assets/img/sprite.symbol.svg#exchange"></use>
            </svg>
            <h4 class="features-title">Free Exchanges</h4>
        </div>
        <div class="small-3 columns text-center">
            <svg>
                <use xlink:href="assets/img/sprite.symbol.svg#refund"></use>
            </svg>
            <h4 class="features-title">14 Day Refunds</h4>
        </div>
        <div class="small-3 columns text-center">
            <svg>
                <use xlink:href="assets/img/sprite.symbol.svg#exchange"></use>
            </svg>
            <h4 class="features-title">Handpicked Supplies</h4>
        </div>
    </div>
</section>

