<form class="order-form">
    <div class="row">
        <div class="small-6 columns">
            <span class="result-counter">QTY</span>
        </div>
        <div class="small-6 columns text-right">
            <span class="unit-price">$179</span>
            <select class="quantity-selector">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="small-6 columns">
            <span class="subtotal">Subtotal</span>
        </div>
        <div class="small-6 columns text-right">
            <span class="total">$179</span>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="datepicker-wrapper">
            <input type="text" placeholder="Select date">
            <svg class="calendar-icon svg-calendar-dims"><use xlink:href="assets/img/sprite.symbol.svg#calendar"/></svg>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <select>
                <option value="1">01:00pm – Available</option>
                <option value="2">02:00pm – Available</option>
                <option value="3">03:00pm – Available</option>
                <option value="4">04:00pm – Available</option>
                <option value="5">05:00pm – Available</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12 medium-6">
            <input type="submit" name="button_1" class="button primary first" value="INSTANT BOOK THIS DATE">
        </div>
        <hr class="or-separator">
        <div class="columns small-12 medium-6">
            <input type="submit" name="button_2" class="button primary hollow" value="BUY EXPERIENCE">
        </div>
    </div>
    
</form>

<div class="booking-features row">
    <div class="small-12  medium-4 columns">
        <svg class="svg-check-dims"><use xlink:href="assets/img/sprite.symbol.svg#check"/></svg>
        <h4 class="features-title">Quick and Easy Booking</h4>
    </div>
    <div class="small-12  medium-4 columns">
        <svg class="svg-check-dims"><use xlink:href="assets/img/sprite.symbol.svg#check"/></svg>
        <h4 class="features-title">Our Price Guarantee</h4>
    </div>
    <div class="small-12  medium-4 columns end">
        <svg class="svg-check-dims"><use xlink:href="assets/img/sprite.symbol.svg#check"/></svg>
        <h4 class="features-title">3.5 Mil Experiences sold</h4>
    </div>
</div>

<div class="wishlist-section row">
    <div class="small-12 columns">
        <a href="#" class="button  hollow wishlist-btn">
            <svg class="svg-heart-dims"><use xlink:href="assets/img/sprite.symbol.svg#heart"/></svg>
            <span>Add to wishlist</span>
        </a>
    </div>

</div>


