.svg-arrow-left-dims {
	width: 16px;
	height: 16px;
}

.svg-calendar-dims {
	width: 22px;
	height: 23px;
}

.svg-check-dims {
	width: 32px;
	height: 32px;
}

.svg-chevron-left-dims {
	width: 11px;
	height: 19px;
}

.svg-exchange-dims {
	width: 41px;
	height: 40px;
}

.svg-guarante-dims {
	width: 40px;
	height: 40px;
}

.svg-heart-dims {
	width: 19px;
	height: 17px;
}

.svg-heart-filled-dims {
	width: 19px;
	height: 17px;
}

.svg-logo-dims {
	width: 156px;
	height: 41px;
}

.svg-logo-white-dims {
	width: 230px;
	height: 61px;
}

.svg-refund-dims {
	width: 41px;
	height: 40px;
}

